.nav__container {
    width: 100%;
    height: calc(100vh - 72px);
}
.nav__side-nav {
    height: calc(100vh - 72px);
    width: 240px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.list {
    padding-top: 0;
}
.list__label {
    background: rgba(0,0,0,.32);
    color: #fff;
    border: none;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 16px;
}
.list__item {
    color: rgba(0,0,0,.54);
    background-color: #fafafa;
    cursor: pointer;
    transition: .5s ease-out;
}
.list__item:hover {
    background-color: rgba(0,0,0,.14);
    color: #00bcd4;
}
.card__wrap {
    width: 100%;
}
.card__content {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
/*#fine-uploader {
    width: 96%;
    margin: auto;
    padding: 50px 0;
}*/
.headings {
    padding: 0 20px;
    color: rgba(0,0,0,.54);
    text-align: center;
    font-weight: 100;
}
.intro-cards {
    width: 250px;
    cursor: pointer;
    margin-bottom: 50px;
}
.intro-imgs {
    font-size: 7em;
    color: #00bcd4;
    text-shadow: 1px 1px 2px #000;
    transform: translateX(-135%);
}
