<md-sidenav-container class="nav__container">
        <md-sidenav class="nav__side-nav" #sideNav mode="side" [opened]="true">
            <md-list class="list">
                <h3 class="list__label">General Site Settings</h3>
                <md-list-item> Salt </md-list-item>
                <md-list-item> Paprika </md-list-item>
                <md-list-item> Paprika </md-list-item>
                <md-list-item> Paprika </md-list-item>
                <md-list-item> Paprika </md-list-item>
                <md-list-item> Paprika </md-list-item>
                <md-list-item> Paprika </md-list-item>
                <md-list-item> Paprika </md-list-item>
                <md-list-item> Paprika </md-list-item>
            </md-list>
        </md-sidenav>
        <div>
            <md-toolbar color="primary">
                <span>General Site Settings</span>
            </md-toolbar>
            <div>
                <md-card class="card__content">
                        <md-card-content>
                                <md-tab-group>
                                    <md-tab label="One">
                                        <h1>Some tab content</h1>
                                        <p>...</p>
                                    </md-tab>
                                    <md-tab label="Two">
                                        <h1>Some more tab content</h1>
                                        <p>...</p>
                                    </md-tab>
                                </md-tab-group>
                        </md-card-content>
                </md-card>
            </div>
        </div>
</md-sidenav-container>