<div fxLayout="row" fxLayoutAlign="center">
  <md-card class="f-s__fasade">
    <md-tab-group [dynamicHeight]="true" class="f-s__fix">
      <md-tab [label]="tab | titlecase" *ngFor="let tab of tabs; index as indexOfTab">
        <ng-template #Empty>
          <div class="general" fxLayout="row"><h1 class="f-s__text">{{(indexOfTab == 0 ? tab.split(' ')[0] : tab) | titlecase}} Storage is empty</h1></div>
        </ng-template>
        <ng-container *ngIf="filesResponse; else Spinner">
          <ng-container *ngIf="!isEmpty(indexOfTab); else Empty">
            <ng-container *ngFor="let file of filesResponse.data; index as indexOfFile">
              <md-card class="f-s__file-cont" *ngIf="(indexOfTab == 0 && file.attributes.locationFlag === 'S') || (indexOfTab == 1 && file.attributes.locationFlag === 'P') || (indexOfTab == 2 && file.attributes.locationFlag === 'O')">
                  <div fxLayout="row">
                    <div class="f-s__img-cont" fxLayout="row">
                      <img class="f-s__img" [src]="file.links.self">
                    </div>
                    <div class="fs__f-text-cont fs__fname-text-cont" fxLayout="column">
                      
                      <div class="f-s__text" *ngIf="renameFileFields.fileId === file.id && !_isRequestSent; else RenameInput" fxFlexAlign="center" >
                          <input #input (blur)="blurResolveLink()" [(ngModel)]="renameFileFields.modelFileName" style="height: 15px" spellcheck="false"><span>.</span><span>{{renameFileFields.fileExt}}</span>
                      </div>
                      <ng-template #RenameInput>
                        <p class="f-s__text" fxFlexAlign="center">{{displayFileName(file)}}</p>
                      </ng-template>
                    </div>
                    <div class="fs__f-text-cont" fxLayout="row">
                      <p class="f-s__text" fxFlexAlign="center">{{(file.attributes.fileSize / 1024).toFixed(2)}}Kb</p>
                    </div>
                    <div class="fs__menu-cont" fxLayout="row">
                      
                      <button class="f-s__text" md-icon-button [mdMenuTriggerFor]="appMenu" (onMenuOpen)="appMenu.focusFirstItem()">
                        <md-icon>more_vert</md-icon>
                      </button>
                      
                      <md-menu #appMenu="mdMenu">
                          <button *ngFor="let menuItem of getMenuArray(indexOfTab)" (click)="menuItem.action.call($this, file, indexOfFile)" fxLayout="row" md-menu-item>
                            <md-icon fxFlexAlign="center">{{menuItem.ico}}</md-icon>
                            <span fxFlexAlign="center">{{menuItem.name}}</span>
                          </button>
                      </md-menu>

                    </div>
                  </div>
              </md-card>
            </ng-container>
          </ng-container>
        </ng-container>
      </md-tab>
    </md-tab-group>
  </md-card>
</div>

<div fxLayout="row" fxLayoutAlign="center">
  <md-card class="f-s__fasade">
      <!-- The element where Fine Uploader will exist. -->
      <div class="f-u" id="fine-uploader"></div>
      <div [innerHTML]="simpleThumbnail"></div>
  </md-card>
</div>



<ng-template #Spinner>
  <div class="general" fxLayout="row">
    <md-spinner class="f-s__text" color="accent"></md-spinner>
  </div>
</ng-template>



<!--<ng-template #EmptyPublic>
  <div class="general" fxLayout="row"><h1 class="f-s__text">Public Storage is empty</h1></div>
</ng-template>-->