<div fxLayout="row" fxLayoutAlign="center">
  <md-card class="f-s__fasade">
    <md-tab-group [dynamicHeight]="true" class="f-s__fix">
      <md-tab label="File Storage">
        <ng-container *ngIf="filesResponse; else Spinner">
          <ng-container *ngIf="!isEmpty('storage'); else EmptyStorage">
            <ng-container *ngFor="let file of filesResponse.data">
              <md-card class="f-s__file-cont" *ngIf="!file.attributes.isInPublic">
                  <div fxLayout="row">
                    <div class="f-s__img-cont" fxLayout="row">
                      <img class="f-s__img" src="{{file.links.self}}">
                    </div>
                    <div class="fs__f-text-cont fs__fname-text-cont" fxLayout="column">
                      <p class="f-s__text" *ngIf="renameFileFields.fileId != file.id; else RenameInput" fxFlexAlign="center">{{file.attributes.fileName}}</p>
                      <ng-template #RenameInput>
                        <div class="f-s__text" fxFlexAlign="center" >
                          <input #input (blur)="onInputBlur(file)" [(ngModel)]="renameFileFields.cachedNewName" [value]="renameFileFields.cachedNewName" style="height: 15px" spellcheck="false"><span>.</span><span>{{renameFileFields.fileExt}}</span>
                        </div>
                      </ng-template>
                    </div>
                    <div class="fs__f-text-cont" fxLayout="row">
                      <p class="f-s__text" fxFlexAlign="center">{{(file.attributes.fileSize / 1024).toFixed(2)}}Kb</p>
                    </div>
                    <div class="fs__menu-cont" fxLayout="row">
                      
                      <button class="f-s__text" md-icon-button [mdMenuTriggerFor]="appMenu">
                        <md-icon>more_vert</md-icon>
                      </button>
                      
                      <md-menu #appMenu="mdMenu">
                        <button (click)="onMoveToPublic(file)" fxLayout="row" fxLayoutAlign="space-between" md-menu-item>
                          <span fxFlexAlign="center" class="menu-item">Move to Public</span>
                          <md-icon [ngStyle]="{'margin':0}" fxFlexAlign="center" class="menu-ico">fast_forward</md-icon>
                        </button>
                        <button (click)="onRenameFile(file)" fxLayout="row" fxLayoutAlign="space-between" md-menu-item>
                            <span fxFlexAlign="center" class="menu-item">Rename</span>
                            <md-icon [ngStyle]="{'margin':0}" fxFlexAlign="center" class="menu-ico">loop</md-icon>
                        </button>
                        <button (click)="onDeleteFile(file)" fxLayout="row" fxLayoutAlign="space-between" md-menu-item>
                            <span fxFlexAlign="center" class="menu-item">Delete</span>
                            <md-icon [ngStyle]="{'margin':0}" fxFlexAlign="center" class="menu-ico">delete_forever</md-icon>
                        </button>
                        <button (click)="onDownloadFile(file)" fxLayout="row" fxLayoutAlign="space-between" md-menu-item>
                            <span fxFlexAlign="center" class="menu-item">Download</span>
                            <md-icon [ngStyle]="{'margin':0}" fxFlexAlign="center" class="menu-ico">get_app</md-icon>
                        </button>
                      </md-menu>

                    </div>
                  </div>
              </md-card>
            </ng-container>
          </ng-container>
        </ng-container>
      </md-tab>
      <md-tab label="Files in Public">
        <ng-container *ngIf="filesResponse; else Spinner">
          <ng-container *ngIf="!isEmpty('public'); else EmptyPublic">
            <ng-container *ngFor="let file of filesResponse.data">
              <md-card class="f-s__file-cont" *ngIf="file.attributes.isInPublic">
                  <div fxLayout="row">
                    <div class="fs__menu-cont" [ngStyle]="{'padding-right':'55px'}" fxLayout="row">
                      
                      <button class="f-s__text" md-icon-button [mdMenuTriggerFor]="appMenu">
                        <md-icon>more_vert</md-icon>
                      </button>
                      
                      <md-menu #appMenu="mdMenu">
                        <button (click)="onMoveToStorage(file)" fxLayout="row" md-menu-item>
                          <md-icon fxFlexAlign="center">fast_rewind</md-icon>
                          <span fxFlexAlign="center">Move to Storage</span>
                        </button>
                        <button (click)="onRenameFile(file)" fxLayout="row" md-menu-item>
                            <md-icon fxFlexAlign="center">loop</md-icon>
                            <span fxFlexAlign="center">Rename</span>
                        </button>
                        <button (click)="onDeleteFile(file)" fxLayout="row" md-menu-item>
                            <md-icon fxFlexAlign="center">delete_forever</md-icon>
                            <span fxFlexAlign="center">Delete</span>
                        </button>
                        <button (click)="onDownloadFile(file)" fxLayout="row" md-menu-item>
                            <md-icon fxFlexAlign="center">get_app</md-icon>
                            <span fxFlexAlign="center">Download</span>
                        </button>
                      </md-menu>

                    </div>
                    <div class="f-s__img-cont" fxLayout="row">
                      <img class="f-s__img" src="{{file.links.self}}">
                    </div>
                    <div class="fs__f-text-cont fs__fname-text-cont" fxLayout="column">
                      <p class="f-s__text" *ngIf="renameFileFields.fileId !== file.id; else RenameInput" fxFlexAlign="center">{{file.attributes.fileName}}</p>
                      
                      <ng-template #RenameInput>
                        <div class="f-s__text" fxFlexAlign="center" >
                          <input #input (blur)="onInputBlur(file)" [(ngModel)]="renameFileFields.cachedNewName" [value]="renameFileFields.cachedNewName" style="height: 15px" spellcheck="false"><span>.</span><span>{{renameFileFields.fileExt}}</span>
                        </div>
                      </ng-template>
                    </div>
                    <div class="fs__f-text-cont" fxLayout="row">
                      <p class="f-s__text" fxFlexAlign="center">{{(file.attributes.fileSize / 1024).toFixed(2)}}Kb</p>
                    </div>
                    
                  </div>
              </md-card>
            </ng-container>
          </ng-container>
        </ng-container>
      </md-tab>
    </md-tab-group>
  </md-card>
</div>

<div fxLayout="row" fxLayoutAlign="center">
  <md-card class="f-s__fasade">
      <!-- The element where Fine Uploader will exist. -->
      <div class="f-u" id="fine-uploader"></div>
      <div [innerHTML]="simpleThumbnail"></div>
  </md-card>
</div>



<ng-template #Spinner>
  <div class="general" fxLayout="row">
    <md-spinner class="f-s__text" color="accent"></md-spinner>
  </div>
</ng-template>

<ng-template #EmptyStorage>
  <div class="general" fxLayout="row"><h1 class="f-s__text">File Storage is empty</h1></div>
</ng-template>

<ng-template #EmptyPublic>
  <div class="general" fxLayout="row"><h1 class="f-s__text">Public Storage is empty</h1></div>
</ng-template>