
<div class="container">
    <md-toolbar style="height:80px" color="primary">
    <div style="width:100%" *ngIf="offers?.data.length > 0" fxLayout="row" fxLayoutAlign="space-between">
        <div>
            <button 
            color="accent" 
            md-icon-button 
            [mdMenuTriggerFor]="offersCustomMdMenu"
            (onMenuOpen)="offersCustomMdMenu.focusFirstItem()">
                <md-icon>menu</md-icon>
            </button>
            <md-menu #offersCustomMdMenu="mdMenu">
                <button (click)="selectedMenuItem=1" md-menu-item>
                    <md-icon>content_cut</md-icon>
                    <span>Adjust image size</span>
                </button>
                <button (click)="selectedMenuItem=2" md-menu-item>
                    <md-icon>timer</md-icon>
                    <span>Slideshow timeout</span>
                </button>
                <button (click)="selectedMenuItem=3" md-menu-item>
                    <md-icon>developer_mode</md-icon>
                    <span>Slider mode</span>
                </button>
            </md-menu>
        </div>
        <div style="position:relative">
            <div class="mdMenu-item" fxLayout="row" [@menuItemAppear]="selectedMenuAnimHelper(1)">
                <p style="padding-right:30px" fxFlexAlign="center">Adjust image width: {{resizedMaxWidth || currentMaxWidth}}px</p>
                <div fxFlexAlign="center" fxLayout="row">
                    <span fxFlexAlign="center">10px</span>
                    <md-slider 
                    fxFlexAlign="center" 
                    style="width:400px" 
                    (input)="onSliderInput($event)" 
                    [value]="currentMaxWidth"
                    min="10" 
                    [max]="document.body.offsetWidth <= 1000 ? 1000 : document.body.offsetWidth" 
                    [thumbLabel]="true"></md-slider>
                    <span fxFlexAlign="center">{{document.body.offsetWidth <= 1000 ? 1000 : document.body.offsetWidth}}<span>px</span></span>
                </div>
            </div>
            <div class="mdMenu-item" [@menuItemAppear]="selectedMenuAnimHelper(2)">
                <span>Slideshow: </span>
                <md-input-container dividerColor="accent">
                    <input type="number" 
                    mdInput
                    [style.width.px]="50" 
                    min="4" 
                    max="100" 
                    (ngModelChange)="onSlideShowChange($event)"
                    [ngModel]="offers.meta.slideShow">
                </md-input-container>
                <span>s</span>
            </div>
            <div class="mdMenu-item" [@menuItemAppear]="selectedMenuAnimHelper(3)">
                <div style="position:relative;top:17px">
                    <span>Slider Mode: </span>
                    <md-select (change)="onSliderModeChange($event)" style="position:relative;top:-5px;padding-left:20px">
                        <md-option value="sequensed">Sequensed</md-option>
                        <md-option value="static">Static</md-option>
                    </md-select>
                </div>
            </div>
        </div>
    </div>
        <!--<div style="width:100%;position:relative;top:10px;" fxLayout="row" fxLayoutAlign="space-around">
            <p fxFlexAlign="center">Adjust image width: {{resizedMaxWidth || currentMaxWidth}}px</p>
            <div style="position:relative;top:3px" fxFlexAlign="center">
                <span>Slideshow: </span>
                <md-input-container dividerColor="accent">
                    <input type="number" 
                    mdInput
                    [style.width.px]="50" 
                    min="3" 
                    max="100" 
                    (ngModelChange)="onSlideShowChange($event)"
                    [ngModel]="offers.meta.slideShow">
                </md-input-container>
                <span>s</span>
            </div>
            <div fxFlexAlign="center" fxLayout="row">
                <span fxFlexAlign="center">0px</span>
                <md-slider 
                fxFlexAlign="center" 
                style="width:400px" 
                (input)="onSliderInput($event)" 
                [value]="currentMaxWidth"
                min="0" 
                [max]="document.body.offsetWidth <= 1000 ? 1000 : document.body.offsetWidth" 
                [thumbLabel]="true"></md-slider>
                <span fxFlexAlign="center">{{document.body.offsetWidth <= 1000 ? 1000 : document.body.offsetWidth}}<span>px</span></span>
            </div>
        </div>-->
    </md-toolbar>
    <section class="S14">
                <div class="S14__wrap" id="offer">
                    <div class="S14__tit">
                        <div class="S14__wo S14__w1">
                            <span class="S14__pre">Get our</span>
                            <span class="S14__del">&nbsp;</span>
                        </div>
                        <div class="S14__wo">
                            <span class="S14__gr">
                                <span class="S14__f">h</span>
                                <span class="S14__b">o</span>
                                <span class="S14__f">t</span>
                                <span>&nbsp;</span>
                                <span class="S14__f">o</span>
                                <span class="S14__b">f</span>
                                <span class="S14__f">f</span>
                                <span class="S14__b">e</span>
                                <span class="S14__f">r</span>
                            </span>
                        </div>
                        <div class="S14__wo S14__w2">
                            <span class="S14__pre">today!</span>
                        </div>
                        <div class="S14__lim"></div>
                    </div>
                    <div class="S14__i-wrap" [style.height.px]="currentImg?.offsetHeight">
                        <ng-container *ngIf="offers?.data.length > 0; else NoOffers">
                            <img #imgRef
                            class="S14__image" 
                            [ngStyle]="{'max-width.px': resizedMaxWidth || currentMaxWidth}"
                            
                            *ngFor="let offer of offers?.data" 
                            [src]="offer.links.self"
                            [alt]="offer.attributes.meta.alt" 
                            [title]="offer.attributes.meta.title">
                        </ng-container>
                        <ng-template #NoOffers>
                            <div style="width:100%" fxLayout="row">
                                <h3 style="color:#fff;margin:auto">You didn't upload offers yet :)</h3>
                            </div>
                        </ng-template>
                    </div>
                    <div class="S14__c-w">
                        <!--<h1 class="S14__c-t">Contact Us in One Click:</h1>
                        <div class="S14__c-inf">
                            <div class="sk">
                                <svg class="skype" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="skype_ico" viewBox="0 0 24 24"><circle cx="11" cy="11" r="7" fill="#fff"/><path d="M18,6C20.07,8.04 20.85,10.89 20.36,13.55C20.77,14.27 21,15.11 21,16A5,5 0 0,1 16,21C15.11,21 14.27,20.77 13.55,20.36C10.89,20.85 8.04,20.07 6,18C3.93,15.96 3.15,13.11 3.64,10.45C3.23,9.73 3,8.89 3,8A5,5 0 0,1 8,3C8.89,3 9.73,3.23 10.45,3.64C13.11,3.15 15.96,3.93 18,6M12.04,17.16C14.91,17.16 16.34,15.78 16.34,13.92C16.34,12.73 15.78,11.46 13.61,10.97L11.62,10.53C10.86,10.36 10,10.13 10,9.42C10,8.7 10.6,8.2 11.7,8.2C13.93,8.2 13.72,9.73 14.83,9.73C15.41,9.73 15.91,9.39 15.91,8.8C15.91,7.43 13.72,6.4 11.86,6.4C9.85,6.4 7.7,7.26 7.7,9.54C7.7,10.64 8.09,11.81 10.25,12.35L12.94,13.03C13.75,13.23 13.95,13.68 13.95,14.1C13.95,14.78 13.27,15.45 12.04,15.45C9.63,15.45 9.96,13.6 8.67,13.6C8.09,13.6 7.67,14 7.67,14.57C7.67,15.68 9,17.16 12.04,17.16Z" /></svg>
                            </div>
                            <span>or</span>
                            <div class="S14__ph"><a href="tel:+1-303-499-7111">+1 (303) 499-7111</a></div>
                        </div>-->
                    </div>
                </div>
    </section>
    <md-toolbar style="height:64px" color="primary">
        <div style="width:100%" fxLayout="row" fxLayoutAlign="space-around">
            <button (click)="onCancel()" color="accent" md-raised-button>CANCEL</button>
            <button *ngIf="offers?.data.length > 0" (click)="onSaveChanges()" color="warn" md-raised-button>SAVE CHANGES</button>
        </div>
    </md-toolbar>
</div>
