
<div class="container">
    <md-toolbar style="height:80px" color="primary">
    <div style="width:100%" *ngIf="offers?.data.length > 0" fxLayout="row" fxLayoutAlign="space-between">
        <div>
            <button 
            color="accent" 
            md-icon-button 
            [mdMenuTriggerFor]="offersCustomMdMenu"
            (onMenuOpen)="offersCustomMdMenu.focusFirstItem()">
                <md-icon>menu</md-icon>
            </button>
            <md-menu #offersCustomMdMenu="mdMenu">
                <button (click)="selectedMenuItem=1" md-menu-item>
                    <md-icon>content_cut</md-icon>
                    <span>Adjust image size</span>
                </button>
                <button (click)="selectedMenuItem=2" md-menu-item>
                    <md-icon>timer</md-icon>
                    <span>Slideshow timeout</span>
                </button>
                <button (click)="selectedMenuItem=3" md-menu-item>
                    <md-icon>developer_mode</md-icon>
                    <span>Slider mode</span>
                </button>
            </md-menu>
        </div>
        <div style="position:relative">
            <div class="mdMenu-item" fxLayout="row" [@menuItemAppear]="selectedMenuAnimHelper(1)">
                <p style="padding-right:30px" fxFlexAlign="center">Adjust image width: {{resizedMaxWidth || currentMaxWidth}}px</p>
                <div fxFlexAlign="center" fxLayout="row">
                    <span fxFlexAlign="center">10px</span>
                    <md-slider 
                    fxFlexAlign="center" 
                    style="width:400px" 
                    (input)="onSliderInput($event)" 
                    [value]="currentMaxWidth"
                    min="10" 
                    [max]="document.body.offsetWidth <= 1000 ? 1000 : document.body.offsetWidth" 
                    [thumbLabel]="true"></md-slider>
                    <span fxFlexAlign="center">{{document.body.offsetWidth <= 1000 ? 1000 : document.body.offsetWidth}}<span>px</span></span>
                </div>
            </div>
            <div class="mdMenu-item" [@menuItemAppear]="selectedMenuAnimHelper(2)">
                <span>Slideshow: </span>
                <md-input-container dividerColor="accent">
                    <input type="number" 
                    mdInput
                    [style.width.px]="50" 
                    min="4" 
                    max="100" 
                    (ngModelChange)="onSlideShowChange($event)"
                    [ngModel]="offers.meta.slideShow">
                </md-input-container>
                <span>s</span>
            </div>
            <div class="mdMenu-item" [@menuItemAppear]="selectedMenuAnimHelper(3)">
                <div style="position:relative;top:17px">
                    <span>Slider Mode: </span>
                    <md-select (change)="onSliderModeChange($event)" style="position:relative;top:-5px;padding-left:20px">
                        <md-option value="sequensed">Sequensed</md-option>
                        <md-option value="static">Static</md-option>
                    </md-select>
                </div>
            </div>
        </div>
    </div>
    </md-toolbar>
    <section class="S14">
                <div class="S14__wrap" id="offer">
                    <div class="S14__tit">
                        <div class="S14__wo S14__w1">
                            <span class="S14__pre">Get our</span>
                            <span class="S14__del">&nbsp;</span>
                        </div>
                        <div class="S14__wo">
                            <span class="S14__gr">
                                <span class="S14__f">h</span>
                                <span class="S14__b">o</span>
                                <span class="S14__f">t</span>
                                <span>&nbsp;</span>
                                <span class="S14__f">o</span>
                                <span class="S14__b">f</span>
                                <span class="S14__f">f</span>
                                <span class="S14__b">e</span>
                                <span class="S14__f">r</span>
                            </span>
                        </div>
                        <div class="S14__wo S14__w2">
                            <span class="S14__pre">today!</span>
                        </div>
                        <div class="S14__lim"></div>
                    </div>
                    <div class="S14__i-wrap" [style.height.px]="currentImg?.offsetHeight">
                        <ng-container *ngIf="offers?.data.length > 0; else NoOffers">
                            <img #imgRef
                            class="S14__image" 
                            [ngStyle]="{'max-width.px': resizedMaxWidth || currentMaxWidth}"
                            
                            *ngFor="let offer of offers?.data" 
                            [src]="offer.links.self"
                            [alt]="offer.attributes.meta.alt" 
                            [title]="offer.attributes.meta.title">
                        </ng-container>
                        <ng-template #NoOffers>
                            <div style="width:100%" fxLayout="row">
                                <h3 style="color:#fff;margin:auto">You didn't upload offers yet :)</h3>
                            </div>
                        </ng-template>
                    </div>
                    <div class="S14__c-w"></div>
                </div>
    </section>
    <md-toolbar style="height:64px" color="primary">
        <div style="width:100%" fxLayout="row" fxLayoutAlign="space-around">
            <button (click)="onCancel()" color="accent" md-raised-button>CANCEL</button>
            <button #btnSaveRef *ngIf="offers?.data.length > 0 && isButtonSaveShow()" (click)="onSaveChanges(btnSaveRef)" color="warn" md-raised-button>SAVE CHANGES</button>
        </div>
    </md-toolbar>
</div>
