<div *ngIf="sliderModel; else Spinner" fxLayout="column">
    <md-card fxFlexAlign="center" style="width:92%; margin: 30px 0">
        <md-tab-group *ngIf="sliderModel.length; else NoContent" [(selectedIndex)]="tabIndex" [dynamicHeight]="true" (selectChange)="modelChips.length=0">
            <md-tab [disabled]="_isEditing && tabIndex != i" *ngFor="let slide of sliderModel; let i=index">
                <ng-template md-tab-label>
                    <span>Slide {{i + 1}}</span>
                </ng-template>
                <div>
                    <h3>Title</h3>
                    <h4>{{(modelTitle || slide.title || notSpecifiedMessage) | uppercase}}</h4>
                </div>
                <div *ngIf="isTitleEditing">
                    <md-input-container dividerColor="accent">
                        <input mdInput placeholder="Edit slide Title" [(ngModel)]="modelTitle" >
                        <md-hint [style.color]="'#f44336'" align="end">Remember to be short and sweet!</md-hint>
                    </md-input-container>
                </div>
                <div class="action-btn-cont" fxLayout="row">
                    <button *ngIf="!isTitleEditing" (click)="onEdit(slide, 'TIT')" md-raised-button color="accent">EDIT</button>
                    <ng-container *ngIf="isTitleEditing">
                        <button (click)="onCancelEdit('TIT')" md-raised-button color="accent">CANCEL</button>
                        <button class="ok-btn-gap" (click)="onOk('TIT', slide)" md-raised-button color="warn">OK</button>
                    </ng-container>
                </div>
                <hr>
                <div>
                    <h3>Background Image</h3>
                    <p><i>For the best user experience natural <strong>image width must to be >= 1280px</strong> and <strong>image height >= 1024px</strong></i></p>
                    <img *ngIf="modelBgImg.modelUrl || slide.backgroundImage; else NotSpecified" style="max-width:500px" [src]="modelBgImg.modelUrl || slide.backgroundImage">
                </div>
                <div *ngIf="modelBgImg.modelUrl || modelBgImg.modelUrl === ''">
                    <h4>Select background slide image:</h4>
                    <ng-container *ngIf="!publicImages.isRequestSent; else Spinner">
                        <ng-container *ngIf="publicImages.data?.length > 0; else PublicEmpty">
                            <md-tab-group [dynamicHeight]="true">
                                <md-tab *ngFor="let image of publicImages.data; index as i">
                                    <ng-template md-tab-label>
                                        <span>Image {{i + 1}}</span>
                                        <img style="width:30px;position:relative;top:10px;left:20px" [src]="image.links.self">
                                    </ng-template>
                                    <div fxLayout="row">
                                        <div>
                                            <img #slideImgRef (click)="onBackgroundImgClick(image, slideImgRef)" style="width:300px;cursor:pointer;transition:.7s" [src]="image.links.self">
                                        </div>
                                        <div style="margin-left:25%">
                                            <p><i>Natural image size:</i></p>
                                            <p>{{getNaturalSize(slideImgRef, 'naturalWidth')}} &#10006; {{getNaturalSize(slideImgRef, 'naturalHeight')}}</p>
                                        </div>
                                    </div>
                                </md-tab>
                            </md-tab-group>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="action-btn-cont" fxLayout="row">
                    <button *ngIf="!modelBgImg.modelUrl && modelBgImg.modelUrl !== ''" (click)="onEdit(slide, 'B_IMG')" md-raised-button color="accent">EDIT</button>
                    <ng-container *ngIf="modelBgImg.modelUrl || modelBgImg.modelUrl === ''">
                        <button (click)="onCancelEdit('B_IMG')" md-raised-button color="accent">CANCEL</button>
                        <button class="ok-btn-gap" (click)="onOk('B_IMG', slide)" md-raised-button color="warn">OK</button>
                    </ng-container>
                </div>
                <hr>
                <div>
                    <h3>Slide Description</h3>
                    <p>{{modelDesc || slide.description || notSpecifiedMessage}}</p>
                </div>
                <div *ngIf="isDescEditing">
                    <md-input-container style="width:50%" dividerColor="accent">
                        <textarea 
                        mdInput 
                        mdTextareaAutosize 
                        [mdAutosizeMinRows]="5"
                        placeholder="Slide description" 
                        [(ngModel)]="modelDesc"></textarea>
                    </md-input-container>
                </div>
                <div class="action-btn-cont" fxLayout="row">
                    <button *ngIf="!isDescEditing" (click)="onEdit(slide, 'DESC')" md-raised-button color="accent">EDIT</button>
                    <ng-container *ngIf="isDescEditing">
                        <button (click)="onCancelEdit('DESC')" md-raised-button color="accent">CANCEL</button>
                        <button class="ok-btn-gap" (click)="onOk('DESC', slide)" md-raised-button color="warn">OK</button>
                    </ng-container>
                </div>
                <hr>
                <div>
                    <h3>Tours</h3>
                    
                        <ng-container *ngFor="let chip of slide.chips; index as j">
                            <md-chip-list class="mat-chip-list-stacked">
                            <md-chip #chipRef
                            style="width:330px;display:block;margin:20px 0;cursor:pointer"
                            color="primary"
                            (click)="onChipClick(chipRef, chip, j)">
                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <div fxFlexAlign="center" class="chip-avatar" [style.backgroundImage]="modelChips[j] ? ( modelChips[j].item.avatar ? 'url('+ modelChips[j].item.avatar +')' : null) : ( chip.avatar ? 'url('+ chip.avatar +')' : null )"></div>
                                    <p fxFlexAlign="center" style="padding:0 10px;font-weight:bold;text-align:center;width:154px">{{modelChips[j]?.item.destination || chip.destination}}</p>
                                    <div style="width:126px;height:26px" fxFlexAlign="center">
                                        <ng-container *ngFor="let star of 'Putin'.split(''); index as starIndex">
                                            <svg style="width:22px;height:22px" xmlns="http://www.w3.org/2000/svg">
                                                <path class="chip__st" transform="scale(.09)" [attr.fill]="starIndex + 1 > getChipStarCount(chip, j) ? 'rgb(148, 148, 146)' : '#F8D64E'" d="m48,234 73-226 73,226-192-140h238z"></path>
                                            </svg>
                                        </ng-container>
                                    </div>
                                </div>
                            </md-chip>
                            
                                <div *ngIf="modelChips[j]">
                                    <div>
                                        <h4>1. Select avatar:</h4>
                                        <ng-container *ngIf="!publicImages.isRequestSent; else Spinner">
                                            <ng-container *ngIf="publicImages.data?.length > 0; else PublicEmpty">
                                                <md-tab-group [dynamicHeight]="true">
                                                    <md-tab *ngFor="let image of publicImages.data; index as i">
                                                        <ng-template md-tab-label>
                                                            <span>Image {{i + 1}}</span>
                                                            <img style="width:30px;position:relative;top:10px;left:20px" [src]="image.links.self">
                                                        </ng-template>
                                                        <div fxLayout="row">
                                                            <div>
                                                                <img #imgRef (click)="onAvatarImageClick(j, image.links.self, imgRef)" style="width:100px;cursor:pointer;transition:.7s" [src]="image.links.self">
                                                            </div>
                                                            <div style="margin-left:25%">
                                                                <p><i>Natural image size:</i></p>
                                                                <p>{{getNaturalSize(imgRef, 'naturalWidth')}} &#10006; {{getNaturalSize(imgRef, 'naturalHeight')}}</p>
                                                            </div>
                                                        </div>
                                                    </md-tab>
                                                </md-tab-group>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                    <div>
                                        <h4>2. Edit destination of tour:</h4>
                                        <md-input-container dividerColor="accent">
                                            <input mdInput placeholder="Edit destination of tour" [(ngModel)]="modelChips[j]?.item.destination">
                                            <md-hint [style.color]="'#f44336'" align="end">Remember to be short and sweet!</md-hint>
                                        </md-input-container>
                                    </div>
                                    <div>
                                        <h4>3. Star rating of destination:</h4>
                                        <md-input-container dividerColor="accent">
                                            <input [style.width.px]="starCountRef.validationMessage.length * 7 || 30" #starCountRef mdInput type="number" min="0" max="5" [ngModel]="modelChips[j]?.item.starCount" (ngModelChange)="onStartCountChange($event, j)">
                                            <md-hint *ngIf="starCountRef.validationMessage" [style.color]="'#f44336'">{{starCountRef.validationMessage}}</md-hint>
                                        </md-input-container>
                                    </div>
                                    <div style="margin-top:20px">
                                        <button (click)="onEditChipCancel(chip, j)" md-raised-button color="accent">CANCEL</button>
                                        <button class="ok-btn-gap" md-raised-button color="warn" (click)="openDialog(deleteSubject(i, j), 'tour')">DELETE TOUR</button>
                                        <button class="ok-btn-gap" (click)="onOk('CHIP', chip, j)" md-raised-button color="warn">OK</button>
                                    </div>
                                    
                                </div>
                            
                            </md-chip-list>
                        </ng-container>
                    <div style="margin:30px 0" fxLayout="row">
                        <button md-raised-button color="primary" (click)="addNewTour(slide)">ADD NEW TOUR</button>
                    </div>
                </div>
                <hr>
                <div style="margin:30px 0" fxLayout="row">
                    <button md-raised-button color="warn" (click)="openDialog(deleteSubject(i), 'slide')">DELETE SLIDE</button>
                </div>
            </md-tab>
        </md-tab-group>
    </md-card>
    <div style="margin:30px 0" fxLayout="row" fxLayoutAlign="space-around">
        <button (click)="onAddNewSlide()" md-raised-button color="primary">ADD NEW SLIDE</button>
        <button *ngIf="sliderModel.length" (click)="onViewSlides()" md-raised-button color="accent">VIEW SLIDES</button>
        <button #btnRef *ngIf="isNeedSaveChanges(sliderModel)" (click)="onSave(btnRef)" md-raised-button color="warn">SAVE CHANGES</button>
    </div>
</div>
<ng-template #PublicEmpty>
    <div 
    fxLayout="row" 
    [style.height]="'153px'">
        <div fxLayout="row" style="height:inherit;width:100%"><div style="margin:auto;color:rgba(0,0,0,.4)">Public Storage empty!</div></div>
    </div>
</ng-template>
<ng-template #Spinner>
    <div 
    fxLayout="row" 
    [style.height]="
    publicImages.isRequestSent && !publicImages.forChip ?
      '353px' : 
    publicImages.isRequestSent && publicImages.forChip ?
      '153px' : 
      'calc(100vh - 137px)'">
        <div fxLayout="row" style="height:inherit;width:100%"><md-spinner style="margin:auto" color="accent"></md-spinner></div>
    </div>
</ng-template>
<ng-template #NoContent>
    <div fxLayout="row" fxLayoutAlign="center center" style="height:300px;width:100%">
        <h1 style="color:rgba(0,0,0,.4)">No Slides here yet...</h1>
    </div>
</ng-template>
<ng-template #NotSpecified>
    <span>{{notSpecifiedMessage}}</span>
</ng-template>