<div class="ord">
    <md-card>
        <md-card-title>Today - Saturday, April 1, 2017</md-card-title>
        <md-card-content fxLayout="row">
            <md-checkbox [checked]="ordersService.cancelAll && ''" (change)="onCheckboxChange($event)"><span class="ord__cbox">Order 1</span></md-checkbox>
            <div fxLayout="row" fxFlexAlign="center">
                <div class="ord__cont">Dmitry</div>
                <div class="ord__cont">Churkin</div>
            </div>
        </md-card-content>
    </md-card>
</div>